.teamboxboxdiv
{
    border:1px solid black; 
    border-radius: 5px;
    cursor: pointer;
    margin-bottom:10px;
    box-sizing: border-box;
}

.header
{
    background: orangered;
    color:white;
    padding: 10px;
}
.header > h2
{
    margin: 0;
}
.description
{
    padding:10px;
}
.bottomboxescontainer
{
    vertical-align: middle;
}