.memberboxes > div
{
    background: grey;
    margin:10px;
    padding:10px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center; 
}
.memberboxes
{
    box-sizing: border-box;
 }
.icon
{
    vertical-align: middle;
}