.searchbarheader {
    position: fixed;
    z-index: 1599;
    background: #fff;
    box-sizing: border-box;
    top: 0;
    width: 100%;
    margin:0;
    left:0;
    text-align: center;
    border-bottom: 1px solid #000;
    box-shadow: 0 8px 4px -4px grey;
}

.searchbarinput {
    border-radius: 10px;
    font-size: 1.3em;
    padding: 5px;
    box-sizing: border-box;
    background: #ececec;
    outline: none;
    width: calc(100% - 400px);
    margin-right: 10px;
    margin-left: 10px;
    -webkit-appearance: none;
    vertical-align: middle;
}

#app-launcher-header img {
    -webkit-animation: opac 3s;
    animation: opac 3s;
    vertical-align: middle;
}
.refralogoimg {
    vertical-align: middle;
    width: 300px;
}
.searchbarheader img
{
    animation: opac 3s;
    vertical-align: middle;
}
@keyframes opac{from{opacity:0} to {opacity:1}}

@media (max-width: 700px) {
    .searchbarheader img
    {
        display: none;
    }
    .searchbarinput
    {
        width: 98%;
    }

}
