.channelboxes > div
{
      margin:5px;
    padding:5px;
    margin-left: 10px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center; 
    border:1px solid black;
  
}
.channelboxes
{
    box-sizing: border-box;
    display: inline-block;
}
.icon
{
    vertical-align: middle;
}