.channelboxes > div
{
      margin-left:5px;
    padding:5px;
   /* margin-left: 10px; 
    border-radius: 5px;*/
    color:white;
    background:orangered;
    display: inline-flex;
    align-items: center; 
    font-size: 0.8em;
    border:1px solid black;
  
}
.channelboxes
{
    box-sizing: border-box;
    display: inline-block;
    padding-right: 10px;
}
.icon
{
    vertical-align: middle;
}